<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="/asset/badge-sq.png" width=20 alt="QUIC"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/staging.quicwg.github.io">Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staging.quicwg.github.io/#published-rfcs">RFCs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staging.quicwg.github.io/#in-progress-documents">In-progress drafts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/staging.quicwg.github.io/implementations">Implementations</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          More resources
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="https://github.com/quicwg/wg-materials">Working Group materials (minutes, agendas, etc)</a>
          <a class="dropdown-item" href="https://martinthomson.github.io/quic-pick">Codepoint Selector (external)</a>
          <a class="dropdown-item" href="/staging.quicwg.github.io/ecn">ECN & QUIC</a>
          <a class="dropdown-item" href="/staging.quicwg.github.io/pmtud">Survey of packet sizes and PMTUD</a>
        </div>
      </li>
    </ul>
  </div>
</nav>