<!DOCTYPE HTML> 

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta property="og:type" content="website">
    <meta property="og:title" content="IETF QUIC Working Group">
    <meta property="og:description" content="Delivering the next transport protocol for the Internet.">
    <meta property="og:url" content="https://quicwg.org/">
    <meta property="og:site_name" content="QUIC">
    <meta property="og:image" content="https://quicwg.org/asset/badge.png">
  </head>
  <body>

<!--    
    {- include navbar.html %}
-->
            
      <div class="container">
        
        <h1><img src="/asset/badge.png" class="img-responsive" alt="QUIC"></h1>

        <div class="lead">

        <p>QUIC is an <a href="https://www.ietf.org/">IETF</a> Working Group that is <a href="https://datatracker.ietf.org/wg/quic/about/">chartered</a> to deliver the next transport protocol for the Internet.</p>
        <p><strong>See our <a href="https://github.com/quicwg/base-drafts/blob/master/CONTRIBUTING.md">contribution guidelines</a> if you want to work with us.</strong></p>
        </div>

        {{ content }}

      </div>

    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
  </body>
</html>
